<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let registro of registros">
    <ion-card style="width: 100%; display: block;">
      <ion-card-header>
        <ion-card-subtitle>Id: {{registro.id_registro}}</ion-card-subtitle>
        <ion-card-subtitle>Responsable: {{registro.nombre}} {{registro.apellido_p}}</ion-card-subtitle>
        <ion-card-subtitle>Sala: {{registro.espacio_id_esp}}</ion-card-subtitle>
        <ion-card-subtitle>Inicio: {{registro.fecha_entrada}}</ion-card-subtitle>
        <ion-card-subtitle>Termino: {{registro.fecha_salida}}</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  </ion-item>
</ion-content>
