<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="irLogin()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aseo DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
   <ion-row>
    <ion-col size="12">
      <ion-button color="primary" (click)="irAseo()">Aseo</ion-button><br>
      <ion-button color="secondary" (click)="irRegistro()">Registro</ion-button><br>
      <ion-button color="secondary" (click)="irHorario()">Horario</ion-button><br>
      <ion-button color="danger" (click)="irLogin()">Salir</ion-button><br>
    </ion-col>
  </ion-row>
</ion-content>










