
  
  /**
  *Barcode Scanning
  * ---------------------------------------------------
  */
  
  body.barcode-scanning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  .barcode-scanning-modal{
    visibility: visible;
  }
  
  @media (prefers-color-scheme: dark) {
    .barcode-scanning-active{
        visibility: hidden;
        --background: transparent;
        --ion-background-color: transparent;
    }
  }
  
  html {
    /* 
     * For more information on dynamic font scaling, visit the documentation:
     * https://ionicframework.com/docs/layout/dynamic-font-scaling
     */
    --ion-dynamic-font: var(--ion-default-dynamic-font);
  }