<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irAseo()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Observaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="tipo_observacion" placeholder="tipo de observación">
        <div slot="label"><ion-text color="danger">(Obligatorio)</ion-text></div>
        <ion-select-option value="Incidencia">Incidencia</ion-select-option>
        <ion-select-option value="Objeto perdido">Objeto Perdido</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-textarea [(ngModel)]="descripcion" placeholder="Escribir aquí"></ion-textarea>
  <ion-button (click)="foto()">subir foto</ion-button>
  <ion-button (click)="grabarObservacion()">agregar la observación</ion-button>
</ion-content>
