<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aseo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary" (click)="startScan()">iniciar</ion-button>
      </ion-col>
    </ion-row>

    <ion-item class="result" *ngIf="scanResult" lines="none">
      <ion-label>
        <p>Registro Aseo</p>
        <div>Fecha Inicio</div>
        <div>{{fechaentrada}}</div>
      </ion-label>
    </ion-item>
  
  <ion-row>
    <ion-col class="ion-text-center">

      <ion-button color="secondary" (click)="irObservaciones()">Agregar observacion<ion-icon name="add-circle-outline"></ion-icon></ion-button>

    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="secondary" (click)="startScanSalida()">finalizar</ion-button>
    </ion-col>
  </ion-row> 

  <br>
  <br>

  <ion-img class="shield-icon" src="../../assets/icon/klipartz.com.png" style="height: 40px;"></ion-img>
</ion-content>