<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Aseo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="startScan()">iniciar</ion-button>
      </ion-col>
    </ion-row>

    <ion-item class="result" *ngIf="scanResult" lines="none">
      <ion-label>
        <p>scan result</p>
        <div>{{iduser1}}</div>
        <div>{{espacio}}</div>
        <div>{{fechaentrada}}</div>
      </ion-label>
    </ion-item>
  
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="startScanSalida()">finalizar</ion-button>
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="irObservaciones()">grabar</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>