<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aseo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="startScan()">iniciar</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button>observacion</ion-button>
      </ion-col>
    </ion-row>
  
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button>finalizar</ion-button>
    </ion-col>
  </ion-row> 
</ion-content>